.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    .formContainer{
        width: 600px;
        // border: 1px solid #000;

        .containerHeader{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 350px;
            margin: 0 auto;
            h1{
                margin-right: 50px;
            }
            .arrowBtn{
                height: 20px;
                width: 20px;
            }            
        }
        .forItems{
            padding-right: 100px;
            width: 500px;
            margin: 0 auto;
        }

    
    }
    

    // .forHeader{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

   
        
        
            
    
    
}

