<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Agreement</h1>

    <a href="/">Back</a>

    <blockquote>

        Dear Photo Gallery Customer:<br>

        The following Terms of Service ("TOS") is a legal agreement between you or the employer or other entity on whose behalf you are entering into this agreement ("you" or "Customer") and Photo Gallery (as such term is defined in Part V Section 24 below) and sets forth the rights and obligations with respect to any Content licensed by you. <br>
        
        Please revisit this TOS when you purchase any Content licenses. Photo Gallery reserves the right to modify the TOS at any time in its sole discretion. Prior to such changes becoming effective, Photo Gallery will use reasonable efforts to notify you of any such change. Such notice may be made by email to the email address on file in your Photo Gallery account, an announcement on this page, your login page, and/or by other means. Modifications to this TOS will only apply to prospective purchases (including any automated renewals). By licensing Content following any such modifications, you agree to be bound to the TOS as modified. <br>
        
        THIS IS A SINGLE SEAT LICENSE AUTHORIZING ONE NATURAL PERSON TO LICENSE, DOWNLOAD AND USE CONTENT. UNLESS YOU UPGRADE TO A "TEAM SUBSCRIPTION" OR "PREMIER PLATFORM" ACCOUNT, NO OTHER PERSONS (INCLUDING EMPLOYEES, CO-WORKERS OR INDEPENDENT CONTRACTORS) MAY ACCESS YOUR ACCOUNT OR USE CONTENT LICENSED THROUGH YOUR ACCOUNT. <br>
        
        IF YOU PURCHASE A "TEAM SUBSCRIPTION" THE RIGHT TO LICENSE, DOWNLOAD AND USE CONTENT IS LIMITED TO THE NUMBER OF USERS PERMITTED BY THAT TEAM SUBSCRIPTION. PHOTO GALLERY’S "PREMIER PLATFORM" GRANTS ACCESS AND USAGE RIGHTS TO UNLIMITED USERS AMONG OTHER ADDITIONAL RIGHTS. <br>
        
        If you require access and usage rights for more than one natural person, please contact Customer Service (Phone: Inside US 1-866-663-3954, Outside US 1-646-419-4452 Email: Customer Support or our Premier Team). For clarity, if a user is acting in an employment capacity, the employer will be deemed the licensee for the purposes of the license. <br>
        
        "Content" means all content available for license from the Photo Gallery website, including Images, Footage, Editorial, and Music (as defined herein.) <br>
        
        "Footage" means any moving images, animations, films, videos or other audio/visual representations, video elements, visual effects elements, templates, graphics packs, and motion design projects excluding still images, recorded in any format. <br>
        
        "Image(s)" means still photographs, vectors, drawings, graphics, and the like. <br>
        
        "Music" means any musical compositions, master recordings, and any other recordings containing sounds or a series of sounds, in all formats, now known and hereinafter developed. <br>
        
        "Editorial" means still photographs and footage appearing under the Editorial tab/section. <br>
        
        "Visual Content" shall refer collectively to Editorial, Images, and Footage. <br>
        
        PART I – VISUAL CONTENT LICENSES<br>
        Photo Gallery hereby grants you a non-exclusive, non-transferable right to use, modify (except as expressly prohibited herein) and reproduce Visual Content worldwide, in perpetuity, as expressly permitted by the applicable license and subject to the limitations set forth herein: <br>
        IMAGE LICENSES<br>
        
        A STANDARD IMAGE LICENSE grants you the right to use Images: <br>
        
        As a digital reproduction, including on websites, in online advertising, in social media, in mobile advertising, mobile "apps", software, e-cards, e-publications (e-books, e-magazines, blogs, etc.), email marketing and in online media (including on video-sharing services such as YouTube, Dailymotion, Vimeo, etc., subject to the budget limitations set forth in sub-section I.a.i.4 below); <br>
        
        Printed in physical form as part of product packaging and labeling, letterhead and business cards, point of sale advertising, CD and DVD cover art, or in the advertising and copy of tangible media, including magazines, newspapers, and books provided no Image is reproduced more than 500,000 times in the aggregate; <br>
        
        As part of an "Out-of-Home" advertising campaign, including on billboards, street furniture, etc., provided the intended audience for such campaign is less than 500,000 gross impressions. <br>
        
        Incorporated into film, video, television series, advertisement, or other audio-visual productions for distribution in any medium now known or hereafter devised, without regard to audience size, provided the budget for any such production does not exceed USD $10,000; <br>
        
        For your own personal, non-commercial use (not for resale, download, distribution, or any commercial use of any kind) <br>
        
        AN ENHANCED IMAGE LICENSE grants you the right to use Images (which rights are in addition to 1-5 above and exclusive to Enhanced Image Licenses): <br>
        
        In any manner permitted under a Standard Image License, without any limitation on the number of reproductions, impressions, or budget; <br>
        
        Incorporated into merchandise intended for sale or promotional distribution (collectively "Merchandise"), including, without limitation, textiles, artwork, magnets, wall-art, calendars, toys, stationery, greeting cards, and any other physical reproduction for resale or distribution, provided that such Merchandise incorporates material creative or functional elements apart from the Image(s). <br>
        
        In wall art (and without requiring further creative or functional elements) for decorative purposes in a commercial space owned by you or your client, and not for sale. <br>
        
        Incorporated as elements of digital templates for sale or distribution. <br>
        
        If the Standard or Enhanced Image licenses do not grant the rights you require please contact Customer Service. (Phone: Inside US 1-866-663-3954, Outside US 1-646-419-4452 Email: Customer Support) <br>
        
        FOOTAGE LICENSES<br>
        
        A FOOTAGE USE LICENSE grants you the right to use Footage: <br>
        
        in a multi-media production displayed or distributed via the web, on social media, using so-called "Apps", or as otherwise disseminated in accordance herewith (see restrictions for distribution limitations), provided the audience for such production does not exceed 500,000; <br>
        
        in connection with a live performance, provided the audience for all such performances does not exceed 500,000 people; <br>
        
        on websites. <br>
        
        If the Footage Use License does not grant the rights you require, please contact Customer Service. (Phone: Inside US 1-866-663-3954, Outside US 1-646-419-4452 Email: Customer Support) <br>
        
        A FOOTAGE COMP LICENSE grants you the right to use watermarked, low resolution Footage as a comp (the "Comp Footage") solely in test, sample, comp, or rough cut evaluation materials. Footage Comp Licenses do not permit you to display or distribute to the public or incorporate into any final materials any such Footage. Comp Footage can be edited, but you may not remove or alter the Photo Gallery watermark. Comp Footage is available to license under the Footage Use License at the time it is downloaded as Comp Footage, but Photo Gallery makes no guarantees and shall have no obligation to ensure that Comp Footage will be available for license at any time thereafter. <br>
        
        EDITORIAL LICENSE<br>
        
        AN EDITORIAL LICENSE grants you the right to make a single, editorial use of an item of Editorial content, which single use may be distributed worldwide, in perpetuity. <br>
        
        A "single use" for the purposes of this license permits the use of Editorial content in a single context (i.e., a news story, blog post, page of a publication) a single time, provided you shall have the right to distribute that use in-context across unlimited mediums and distribution channels. For example, the use of Editorial content to illustrate a printed article, maybe reused on a blog, on social media, etc., provided it is in-context to the original printed article. Any use not in-context to the original printed article would require an additional license. <br>
        
        An "editorial use" for the purposes of this license shall be a use made for descriptive purposes in a context that is newsworthy or of human interest and expressly excludes commercial uses such as advertising or merchandising. <br>
        
        Any use of Editorial Content licensed hereunder is further subject to those express restrictions set forth in Part I, Section 4 (prohibiting any use distributed via broadcast/cable/OTT, on publication covers, and in print runs in excess of 500,000) as well as any “special restrictions” (e.g., geographical or industry-specific usage restrictions) indicated on the image detail page and/or included in the metadata attached to an item of Editorial Content. <br>
        
        All Editorial content shall be deemed "Editorial Use Only" for the purposes of this TOS. <br>
        
        Not all Editorial content is available for license from the Photo Gallery website, nor may it be available from all subscriptions. You understand that the Editorial content available for license can change at any time and you shall have no right to demand to license any particular item of Editorial content. If you want to license any Editorial content not available for license from the website, please contact Customer Service. (Phone: Inside US 1-866-663-3954, Outside US 1-646-419-4452 Email: Customer Support) <br>
        
        RESTRICTIONS ON USE OF VISUAL CONTENT<br>
        YOU MAY NOT: <br>
        
        Use Visual Content other than as expressly provided by the license you purchased with respect to such Visual Content. <br>
        
        Portray any person depicted in Visual Content (a "Model") in a way that a reasonable person would find offensive, including but not limited to depicting a Model: a) in connection with pornography, "adult videos", adult entertainment venues, escort services, dating services, or the like; b) in connection with the advertisement or promotion of tobacco products; c) in a political context, such as the promotion, advertisement or endorsement of any party, candidate, or elected official, or in connection with any political policy or viewpoint; d) as suffering from, or medicating for, a physical or mental ailment; or e) engaging in immoral or criminal activities. <br>
        
        Use any Visual Content in a pornographic, defamatory, or deceptive context, or in a manner that could be considered libelous, obscene, or illegal. <br>
        
        Modify Visual Content designated "Editorial Use Only" in a manner that changes the context of what is depicted. <br>
        
        Use Visual Content designated "Editorial Use Only" (including, but not limited to, Editorial content) for commercial purposes, including for reference, in any advertising, merchandise or other non-editorial contexts. <br>
        
        Resell, redistribute, provide access to, share or transfer any Visual Content except as specifically provided herein. For example and not by way of limitation, the foregoing prohibits displaying Content as, or as part of, a "gallery" of content through which third parties may search and select from such content. <br>
        
        Use Visual Content in a manner that infringes upon any third party's trademark or other intellectual property, or would give rise to a claim of deceptive advertising or unfair competition. <br>
        
        Use any Visual Content (in whole or in part) as a trademark, service mark, logo, or other indication of origin, or as part thereof. <br>
        
        Falsely represent, expressly or by way of reasonable implication, that any Visual Content was created by you or a person other than the copyright holder(s) of that Visual Content. <br>
        
        RESTRICTIONS SPECIFIC TO FOOTAGE<br>
        Use any Footage in a multi-media production distributed via broadcast, cable network, OTT video service (e.g. Netflix, Hulu, Amazon), or in theaters. <br>
        
        Use "stills" derived from Footage except solely in connection with the in-context marketing, promotion, and advertising of your derivative works incorporating Footage. <br>
        
        RESTRICTIONS SPECIFIC TO EDITORIAL<br>
        Use any Editorial content in a multi-media production distributed via broadcast, cable network, OTT video service (e.g. Netflix, Hulu, Amazon), or in theaters, or in related promotional materials. <br>
        
        Use any Editorial content on a publication cover, jacket, or other packaging related to the underlying use. <br>
        
        Use any Editorial content in a publication with a print run in excess of 500,000 copies. <br>
        
        CREDIT AND COPYRIGHT NOTICES<br>
        The use of Images and Footage in connection with news reporting, commentary, publishing, or any other "editorial" context, shall be accompanied by an adjacent credit to the Photo Gallery contributor and to Photo Gallery in substantially the following form: <br>
        
        "Name of Artist/Photo Gallery.com"<br>
        
        Editorial credits shall take the following form: <br>
        
        "Name of Artist / Agency / Photo Gallery"<br>
        
        If and where commercially reasonable, the use of Images or Footage in Merchandise or an audio-visual production shall be accompanied by a credit to Photo Gallery in substantially the following form: <br>
        
        "Image(s) or Footage (as applicable), used under license from Photo Gallery.com"<br>
        
        Credit attributions are not required in connection with any other use of Footage or Images unless another stock content provided is afforded credit in connection with the same use. For clarity, attribution is always required for Editorial content. <br>
        
        In all cases the credit and attribution shall be of such size, color and prominence so as to be clearly and easily readable by the unaided eye. <br>
        
</blockquote>

</body>
</html>