<% layout('photografPage') -%>
<% script('/javascripts/myOrders.js') -%>


<div class="myOrders">
    <h2>Orders</h2>

    <div class="orderList">
        <table class="highlight">
            <thead>
              <tr>
                  <th>Date</th>
                  <th>Order #</th>
                  <th>Amount, UAH</th>
              </tr>
            </thead>
    
            <tbody class="tbodyOrders"></table>
    </div>

    <div class="order">

    </div>






</div>

